.flash-box
  .wrapper
    .chat-side
      =render 'shared/side_bar'
      
    .chat-main
      .main-header
        .main-header__left-box
          .main-header__left-box__group
            =@group.name
          .main-header__left-box__member
            - member = "Member : "
            .main-header__left-box__member__user
              - @group.users.each do |user|
                - member = member+ "#{user.name}　"
              = member 
        %li.main-header__edit-btn 
          = link_to "Edit", edit_group_path(@group)
            
        
      .chat-main__messages
        .chat-main__messages__new-messages
          = render @messages
      
      .form
        .form__message
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__input-box
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'